langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-chroma==0.1.4
langchain-groq==0.1.9
langchain-huggingface==0.0.3

chromadb==0.4.18
huggingface_hub==0.36.2
sentence-transformers==5.5.0
transformers==4.41.2
torch==2.11.0

streamlit==1.57.0
pandas==3.0.2

python-dotenv==1.2.2
unstructured==0.22.28
beautifulsoup4==4.14.3
lxml==6.1.0
html5lib==1.1

pydantic==2.13.4
numpy==1.26.4
requests==2.33.1
tqdm==4.67.3
